
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">            
            <div class="container">
                <div class="carousel-caption">
                    <h1>Software Engineeer Development</h1>
                    <p>
                        I have worked with many .NET MVC applications using SQL Server or Oracle databases, and developed a suite of financial reports, transactional dashboard applications using .NET Web API, SQL Server and Angular JS.  I have worked in the implementation of engineering software applications from the ground up. 

                    </p>
                   
                </div>
            </div>
        </div>
        <div class="item">            
            <div class="container">
                <div class="carousel-caption">
                    <h1>Watch the Knight Move! </h1>
                    <p>See the minimum moves a knight must make to move from one square to another on an  8x8 Chess board. A basic recursive programming strategy used to solve this problem.</p>
                    <p><a class="btn btn-lg btn-primary" routerLink="/knight" href="#" role="button">See in Action</a></p>
                </div>
            </div>
        </div>
        <div class="item">            
            <div class="container">
                <div class="carousel-caption">
                    <h1>Some of the duties I performed: </h1>
                    <ul>
                        <li> Created REST services using .NET Web API to manage CRUD operations of data models, and used Angular JS, HTML 5 to consume/display the data.</li>
                        <li>Used Entity Framework ORM in some applications and Dapper Micro-ORM in applications.</li>
                        <li>Debugged and tested C# applications using Visual Studio.</li>
                        <li>Carried out Unit Tests on business logic components of applications.</li>
                        <li>Created and tested modular Angular JS code to implement new features of Travel Site Application.</li>
                        <li>Created new tables, add/edit new fields using SQL Server. Used stored procedures and views.</li>
                    </ul>                  
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->



<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 (click)="onClick()">SQL Server, MySql, ORacle  Databases, ORMS:  Entity Framework,  Dapper, Doctrine</h2>
            <p> Used Entity Framework ORM and Dapper Micro-ORM in applications.</p>
            <p>Used Doctrine with Symphony and Angular 2 (Video report uses this)</p>
            <p><a class="btn btn-default"  routerLink="/videos" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Front End and Back End Developer</h2>
            <li>Created REST services using .NET Web API to manage CRUD operations of data models, and used Angular JS, HTML 5 to consume/display the data.</li>
            <li>Used Entity Framework ORM in some applications and Dapper Micro-ORM in applications.</li>
            <p>Carried out Unit Tests on business logic components of applications.</p>            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="assets/relovate.png" alt="RELOVATE SITE" />            
            <h2>Angular JS @Relovate</h2>
            <ul>
                <li> Created and tested modular Angular JS code to implement new features of Travel Site Application.</li>
                <li>Programmed and architected travel website modules using Angular, JavaScript, CSS and HTML 5.</li>
                <li>Connected to and consumed REST services with Angular.</li>
                <li>Debugged, ran unit tests on Angular directives and services. </li>
            </ul>            
            <p>
            <a class="btn btn-default" target="_blank" href="http://www.blankrefer.com/?http://www.relovate.com" role="button">View Site &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">PHP Angular JS, Angular 2 Javascript.  <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">
                Created and tested modular Angular JS code to implement new features of Travel Site Application.
                Created new tables, add/edit new fields using SQL Server. Used stored procedures and views.
            </p>
        </div>        
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Tic Tac Toe <span class="text-muted"  ><a href="#" routerLink="/tictac">See for yourself.</a></span></h2>
            <p class="lead">Play a 5 X 5 game of tic tac toe!</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted"><a href="#" routerLink="/knight">Checkmate.</a></span></h2>
            <p class="lead">Figure out the shortest knight path between two squares on a chessboard! </p>
        </div>
      
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->
