 
.chatcontainer {
    background-color: #4b1515;
    border: thick solid #808080;
    padding: 20px;
    margin: 20px;
}
.message {
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:14px;
    font-stretch:expanded;
}
.name {
    color:yellow;
    font-weight: bold;
    font-family: 'Agency FB';
}    